<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load staticfiles %}

    {# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% comment %}  <link rel="stylesheet" href="{% static "/css/bootstrap.css" %}"> {% endcomment %}
    <title>{% block title %}Super puper site{% endblock %}</title>

</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

