{% extends "base.html" %}
{% block content %}
<body>
    {% if context_value %}
        <ul class="list-group">
            {% for e in context_value %}
                <li class="list-group-item">
{#                    {{ e.context  }}#}
{#                   {{ e.title }}#}
{#                    {{ e.slug }}#}
                   <a class="align-right" href="articles/{{ e.slug }}"> <h2>{{ e.title|truncatechars:40 }} </h2></a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
{% endblock %}